p {
    color: blue;
}
li {
    font-style: italic;
}
a:hover {
text-decoration: underline;
background-color: lightgreen;
}
tbody {
    font-style: italic;
}
table {
    background-color: lightblue;
}